body {
  background-color: red;
}

h1 {
  font-family: 'Permanent Marker', times;
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

label {
  font-size: 25px;
  font-weight: italic;
}

.labels {
  width: 400px;
  margin: 0 auto 50px auto;
  padding: 20px;
}

input {
  margin-left: 10px;
  float: right;
  border: 2px solid black;
}

button {
  margin-top: 40px auto;
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px 20px;
  margin-left: 45%;
}
